html {
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.App {
  max-width: 425px;

  width: 100vw;
  height: 100vh;

  margin: auto;
  overflow: hidden;
}
.navbar {
  background-color: black;
  color: white;
  height: 5vh;
  font-size: 3vh;
  text-align: center;
  cursor: pointer;
}
.navbar p {
  padding-top: 1vh;
}

.title {
  height: 8vh;
  text-align: center;
  font-size: 2.5rem;
}

form {
  text-align: center;
  font-size: 1.5rem;
}

label,
input,
select {
  width: 25% !important;
  margin: 10px;
  text-align: center;
}

h1 {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 1rem;
}
strong {
  font-weight: 900;
  font-size: 2rem;
}
.image {
  text-align: center;
  margin-top: 5vh;
}

.footer {
  max-width: 425px;
  min-width: 425px;
  background-color: black;
  color: white;
  height: 5vh;
  font-size: 3vh;
  text-align: center;
  cursor: pointer;
  position: absolute;

  bottom: 0px;
}
.footer p {
  padding-top: 1vh;
}
